@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;1,500&family=Orbitron:wght@500&family=Playfair+Display&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'orbitron', sans-serif;
}

body {
    background-color: #b3e6f4;
}