@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;1,500&family=Orbitron:wght@500&family=Playfair+Display&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'orbitron', sans-serif;
}

body {
    background-color: #b3e6f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 62.5%;
}

h1 {
    padding-top: 100px;
    font-size: 5rem;
}


.game-area {
    background-color: white;
    margin: 0 auto;
    width: 70%;
    height: 60vh;
    border-radius: 12px;
}

.controls-area {
  width: 70%;
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

.scores {
    font-size: 2rem;
    display: inline-block;
    padding: 20px;
}

/* buttons */

.btn {
    height: 12rem;
    width: 12rem;
    font-family: 'orbitron', sans-serif;
    color: black;
    border-radius: 100%;
}

#rock {
    background: url('../images/rock.svg') no-repeat center center;
    background-size: contain;
}

#paper {
    background: url('../images/paper.svg') no-repeat center center;
    background-size: contain;
}

