@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;1,500&family=Orbitron:wght@500&family=Playfair+Display&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'orbitron', sans-serif;
}

body {
    background-color: #b3e6f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 62.5%;
}

h1 {
    padding-top: 100px;
    font-size: 5rem;
    margin-bottom: 10px;
}


.game-area {
    background-color: white;
    margin: 0 auto;
    width: 70%;
    height: 60vh;
    border-radius: 12px;
    box-shadow: 10px 10px 86px 51px #1c558abf;
    -webkit-box-shadow: 10px 10px 86px 51px rgba(28,85,138,0.75);
    -moz-box-shadow: 10px 10px 86px 51px rgba(28,85,138,0.75);
}

.controls-area {
  width: 70%;
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

#results {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

/*score area */

.scores {
    font-size: 2rem;
    display: inline-block;
    padding: 20px;
}

/* buttons */

.btn {
    height: 12rem;
    width: 20rem;
    font-family: 'orbitron', sans-serif;
    color: black;
    border-radius: 50%;
    border-style: double;
    border-width: 5px;
}

#rock {
    background: url('../images/rock.svg') no-repeat center center;
    background-size: contain;
    margin: 10px;
    border-color: black;
}

#paper {
    background: url('../images/paper.svg') no-repeat center center;
    background-size: contain;
    margin: 10px;
    border-color: yellow;
    overflow: hidden;
}

#scissors {
    background: url('../images/scissors.svg') no-repeat center center;
    background-size: contain;
    margin: 10px;
    border-color: red;
}

#lizard {
    background: url('../images/lizard.svg') no-repeat center center;
    background-size: contain;
    margin: 10px;
    border-color: green;
}

#spock {
    background: url('../images/vulcan-salute.svg') no-repeat center center;
    background-size: contain;
    margin: 10px;
    border-color: blue;
}

/* media queries */

@media (max-width: 1024px) {
   
    h1 {
        text-align: center;
    }

    .game-area {
        width: 85%;
        height: 70vh;
    }

    .controls-area {
       width: 100%;
    }

    #results {
        font-size: 2rem;
        text-align: center;
        margin-top: 1px;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 2.5rem;
        text-align: center;
        padding-bottom: 50px;
    }

    .game-area {
        width: 95%;
        height: 70vh;
    }

    .controls-area {
       width: 100%;
    }

    .btn {
      width: 100%;
    }

    #results {
        font-size: 1.45rem;
        text-align: center;
        margin-left: 100px;
        margin-right: 100px;
    }

    .scores {
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
  }

  @media (max-width: 950px) {
     h1 {
        text-align: center;
     }

     .controls-area {
        width: 100%;
     }

  }